[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = silent
dotnet_diagnostic.UNT0022.severity=warning
dotnet_diagnostic.UNT0019.severity=warning
dotnet_diagnostic.UNT0018.severity=warning
dotnet_diagnostic.UNT0017.severity=warning
dotnet_diagnostic.UNT0002.severity=warning
dotnet_diagnostic.UNT0001.severity=warning
dotnet_diagnostic.UNT0024.severity=warning
dotnet_diagnostic.UNT0003.severity=warning
dotnet_diagnostic.UNT0006.severity=warning
dotnet_diagnostic.UNT0010.severity=warning
dotnet_diagnostic.UNT0011.severity=warning
dotnet_diagnostic.UNT0014.severity=warning
dotnet_diagnostic.UNT0015.severity=warning
dotnet_diagnostic.UNT0016.severity=warning
dotnet_diagnostic.UNT0025.severity=warning
dotnet_diagnostic.UNT0021.severity=warning
dotnet_diagnostic.UNT0023.severity=warning
dotnet_diagnostic.UNT0020.severity=warning
dotnet_diagnostic.UNT0013.severity=warning
dotnet_diagnostic.UNT0012.severity=warning
dotnet_diagnostic.UNT0009.severity=warning
dotnet_diagnostic.UNT0008.severity=warning
dotnet_diagnostic.UNT0007.severity=warning
dotnet_diagnostic.UNT0005.severity=warning
dotnet_diagnostic.UNT0004.severity=warning
