.bigbutton {
    border-color: rgb(51, 51, 51);
    border-width: 3px;
    border-radius: 5px;
    background-color: rgb(94, 94, 94);
}

.bigbutton:hover {
}

.bigimg {
    width: 25%;
    height: 50%;
    left: 25%;
    top: 25%;
}

.optionbutton {
    background-color: rgba(130, 130, 130, 255);
    position: absolute;
}
