#Info, #Info2
{
    color: var(--color-light);
}
#Reggyment, #Regiment-Label, #SelectX
{
    background-color: var(--bgcolor-lightbrown);
}
#Icon{
    width: 100px;
    height: 100px;
}
#MembersCount, #Regiment-Name-ID
{
    color: var(--color-light);
}

#Box
{
    border-color: var(--color-light);
    background-color: var(--color-dark);
}
#Box #Label
{
    color: var(--color-light);
}

#Link
{
    color: #6495ED;
}