#Info, #Info2
{
    color: var(--color-light);
}
#Reggyment, #Regiment-Label, #SelectX
{
    background-color: var(--bgcolor-lightbrown);
}
#Icon{
    width: 100px;
    height: 100px;
}
#MembersCount, #Regiment-Name-ID
{
    color: var(--color-light);
}